<%-include('../includes/head')%>

<body>

<%-include('../includes/navigation')%>

<main class="main">
    <div class="wrapper-list">
        <% if (products.length > 0) { %>
            <ul class="list">
                <% products.forEach(p => { %>
                    <!-- we can access relation by call cartItem model -->
                    <li class="list-item">
                        <%= p.title %> (<%= p.quantity %>)
                        <!-- action is route similar to laravel php action="route("post.name")" -->
                        <form action="/cart-delete-item" type="submit" method="POST">
                            <div class="form-control">
                                <input type="hidden" value="<%= p._id %>" name="productId">
                                <button class="btn danger">Delete</button>
                            </div>
                        </form>
                </li>
                <% }) %>
            </ul>

            <hr>
            
            <div class="centered">
                <form action="/create-order" method="POST">
                    <button type="submit" class="btn">Order Now!</button>
                </form>
            </div>
            
        <% } else { %>
            <h1>No item found</h1>
        <% } %>

</div>

</main>

<%-include('../includes/end')%>
